ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.myName {
    float: left;
    width: 200px;
    background-color: #4aaaa5;
    text-align: center;
    height: 85px;
    margin-top: -5px;
    line-height: 100px;
    color: white;
    font-size: 24px;
}

header {
    background-color: white;
    -webkit-box-shadow: 0 3px 0px -2px #000000;
    -moz-box-shadow: 0 3px 0px -2px #000000;
    box-shadow: 0 3px 0px -2px #000000;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-top: -10px;
    height: 80px;
}

.fPage {
    width: 960px;
    margin: 0 auto -50px;
    min-height: 100%;
    margin-bottom: 100px;
}

.main {
    width: 650px;
    height: auto;
    background-color: white;
    margin-top: 40px;
    float: left;
    overflow: auto;
    padding-bottom: 30px;
    border: solid #dddddd 1px;
}

.mainPortfolio {
    width: 650px;
    height: 1100px;
    background-color: white;
    margin-top: 40px;
    float: left;
    min-height: 100%;
    border: solid #dddddd 1px;
}

.side {
    width: 270px;
    height: 200px;
    background-color: white;
    float: left;
    margin-left: 36px;
    margin-top: 40px;
    border: solid #dddddd 1px;
}

.mainContent {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    border-bottom: 3px solid #dddddd;
    height: 60px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #dddddd;
    height: 40px;
}

.toSize {
    margin: 0 auto;
    width: 960px;
}

body {
    width: 100%;
    background-image: url("../images/background.png");
    margin: 0 0 100px;
    min-height: 100%;
}

.footer1 {
    text-align: center;
    background-color: #666666;
    color: lightgrey;
    line-height: 100px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    margin-top: 100px;
    height: 100px;
    bottom: 0px;
}

.footer2 {
    text-align: center;
    background-color: #666666;
    color: lightgrey;
    line-height: 100px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    margin-top: 700px;
    height: 100px;
    bottom: 0px;
}

.footer3 {
    text-align: center;
    background-color: #666666;
    color: lightgrey;
    line-height: 100px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    margin-top: 200px;
    height: 100px;
    bottom: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-right: 12px;
}

.portPicsLeft {
    padding-top: 10px;
    height: auto;
    width: 47%;
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    margin: auto;
}

.portPicsRight {
    padding-top: 10px;
    height: auto;
    width: 47%;
    float: right;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    margin: auto;
}

.aboutPhoto {
    height: auto;
    width: 200px;
    display: inline-block;
    padding-top: 10px;
}

.square {
    height: 75px;
    width: 75px;
}

.myPara {
    line-height: 30px;
}

.icon {
    height: auto;
    width: 60px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.banner {
    background-color: #4aaaa5;
    width: 97.5%;
    margin-left: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.divider {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.navContent {
    float: right;
}

/*MEDIA SCREEN 980 PX*/

@media screen and (max-width: 980px) {
    .navContent {
        width: 33%;
    }
    .main {
        width: 60%;
    }
    li {
        width: 33%;
        display: inline-block;
    }
    .side {
        width: 34%;
    }
    .icon {
        width: 26%;
    }
    .aboutPhoto {
        width: 100%;
    }
    .fPage {
        width: 90%;
    }
    .toSize {
        width: 90%;
    }
    .footer1 {
        margin-top: 500px;
    }
    .footer2 {
        margin-top: 1800px;
    }
    .footer3 {
        margin-top: 0px;
    }
    .mainPortfolio {
        width: 60%;
        height: 2710px;
    }
    .sidePort {
        width: 34%;
    }
    .portIcon {
        width: 26%;
    }
    .portsideTitle {
        padding-left: 0px;
    }
    .portPicsLeft {
        width: 100%;
    }
    .portPicsRight {
        width: 100%;
    }
    .banner {
        width: 97.3%;
        margin-left: 7px;
    }
    li a {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/*MEDIA SCREEN 768 PX*/

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
    .aboutPhoto {
        width: 35%;
    }
    .fPage {
        width: 95%;
    }
    .toSize {
        width: 95%;
    }
    .icon {
        width: 10%;
    }
    .footer1 {
        margin-top: 100px;
    }
    .footer2 {
        margin-top: 900px;
    }
    .footer3 {
        margin-top: 200px;
    }
    .mainPortfolio {
        width: 100%;
        height: 1275px;
    }
    .side {
        width: 100%;
        margin-left: 0;
    }
    .sidePort {
        width: 100%;
    }
    .portIcon {
        width: 10%;
    }
    .portsideTitle {
        padding-left: 0px;
    }
    .portPicsLeft {
        width: 49%;
    }
    .portPicsRight {
        width: 49%;
    }
    .banner {
        width: 97.1%;
        margin-left: 6px;
    }
}


/*MEDIA SCREEN 640 PX*/

@media screen and (max-width: 640px) {
    .myName {
        width: 100%;
    }
    .main {
        width: 100%;
        margin-top: 100px;
    }
    .aboutPhoto {
        width: 590px;
    }
    .fPage {
        width:87%;
    }
    .toSize {
        width: 100%;
    }
    .footer1 {
        margin-top: 900px;
    }
    .footer2 {
        margin-top: 2300px;
    }
    .footer3 {
        margin-top: 200px;
    }
    .mainPortfolio {
        width: 100%;
        height: 2875px;
        margin-top: 100px;
    }
    .side {
        width: 100%;
        margin-left: 0;
    }
    .sidePort {
        width: 100%;
    }
    .portIcon {
        width: 60px;
    }
    .portsideTitle {
        padding-left: 0px;
    }
    .portPicsLeft {
        width: 100%;
        
    }
    .portPicsRight {
        width: 100%;
        
    }
    .banner {
        width: 96.8%;
        margin-left: 8px;
    }
    .navContent {
        clear: left;
        float: none;
        width: 100%;
    }
    li {
        width: 33%;
        display: inline-block;
    }
    li a {
        text-align: center;
        margin: 0;
    }
    header {
        position: static;
        width: 100%;
    }
}
